.row::after {
    clear: both;
    content: "";
    display: table;
}

header {
    padding-top: 2vh;
}

nav li {
    display: inline-block;
    width: 28%;
}

nav li:not(:last-child){
    padding-right: 4%; 
}

nav ul,
footer {
    text-align: center;
}

[class*="col"] {
    float: left;
    margin-left: 1%;
    width: 98%;
}

[class*="nested"] {
    margin-left: 0;
}

.col-1-nested:not(:last-child){
    margin-right: 1%;
}

.col-1-nested {
    width: 32.66%;
}

.col-3-nested {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    header {
        padding-top: 5vh;
    }

    .col-1-3,
    .col-2-3 {
        margin-left: 4%;
    }

    .col-1-3 {
       width: 28%;
   }
   
   .col-2-3{
       width: 60%;
   }
}

@media only screen and (min-width: 900px) {
    header {
        padding-top: 7vh;
    }
    
    [class*="col"]:not([class*="nested"]) {
        float: left;
        margin-left: 4%;
    }

    .col-1
     {
        width: 28%;
    }
    
    .col-2{
        width: 60%;
    }
    
    .col-3 {
        width: 92%;
    }

    main.col-2 {
        left: 32%; 
        position: relative;
    }

    aside.col-1 {
        left: -64%;
        position: relative;
    }
}