html {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: auto;
    max-width: 1200px;
    min-width: 320px;
}

img {
    width: 100%;
}

h1,
h2 {
    text-align: center;
}

h1 {
    color: #1c0b0c;
    text-shadow:
    -1px -1px 0 #fff,  
     1px -1px 0 #fff,
     -1px 1px 0 #fff,
      1px 1px 0 #fff;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav {
    border-bottom: 1px #e2e2e2 solid;
    padding: 1.5em 0; 
}

nav a {
    color: #397077;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color:#774039;
    text-decoration: underline;
}


main,
footer {
    padding: 2em 0;
}

aside {
    padding: 2em;
}

p { 
    line-height: 1.5;
}

blockquote {
    margin: 1.5em 0;
}


blockquote p:not(:last-of-type) {
    font-style: italic;
}

blockquote  p:last-of-type {
    padding-left: 1em;
}

form {
    margin: auto;
    width: 90%;
}

input,
textarea{
    border: solid 1px  #070B19;
    display: block;
    margin-bottom: 2em;
    padding: .625em;
    width: 100%;
}

input[type="submit"] {
    box-shadow: 0 .5em 3.125em -.375em  rgba(84,84,120,.8);
    background-color: #070B19;
    color:  #fff;
    padding: .938em;
    text-transform: uppercase;
    text-align: center;
    transition: 0.5s;
    width: 8em;
}

input[type="submit"]:hover {
    box-shadow: none;
}

footer {
    border-top: 1px #e2e2e2 solid;
}

@media only screen and (min-width: 768px) {
    form {
        width: 60%;
    }
}

@media only screen and (min-width: 900px) {
    aside h2,
    blockquote {
        text-align: right;
    }
}

@media only screen and (max-width: 479px){
    header {
        height: 20vh;
        background: url('../img/hero-sm.jpeg');
    }
}

@media only screen and (max-width: 768px) and (min-width: 480px){
    header {
        height: 30vh;
        background: url('../img/hero-md.jpeg');
    }
}

@media only screen and (min-width: 769px){
    header {
        height: 40vh;
        background: url('../img/hero-lg.jpeg');
        font-size: 1.5em;
    }
}